<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot Security</title>
</head>
<body>
<form action="login" method="post" th:action="@{/login}">
    <div th:if="${param.error}">
        <span>Invalid Email and Password.</span>
    </div>
    <input name="username" placeholder="Username" type="text"/>
    <input name="password" placeholder="Password" type="password"/>
    <input name="remember-me" type="checkbox"> Remember Me
    <button type="submit">LogIn</button>
</form>
</body>
</html>
