<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot Security</title>
</head>
<body>
<form method="post" th:action="@{/user/register}">
    <div th:if="${param.error}">
        <span>Invalid Email and Password.</span>
    </div>
    <input name="email" placeholder="Email" type="email"/>
    <input name="userName" placeholder="Username" type="text"/>
    <input name="password" placeholder="Password" type="password"/>
    <button type="submit">Register</button>
</form>
</body>
</html>
